<!doctype html>
<html ng-app="avengers">
  <head>
    <meta charset="utf-8">
    <title>Empezando con AngularJS</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <h1>Controladores</h1>

    <div ng-controller="TestCtrl as testCtrl">

      <h4>Choose your avenger:</h4>
      <ul>
        <li ng-repeat="avenger in testCtrl.avengers">
          <a href ng-click="testCtrl.selectAvenger($index)">
            {{ avenger.name }}
          </a>
        </li>
      </ul>

      <div class="hero-info">
        <img ng-show="testCtrl.selectedAvenger().image" ng-src="{{ testCtrl.selectedAvenger().image }}" height="150" >
        <p>
          <label>Name: </label>
          <input type="text" ng-model="testCtrl.selectedAvenger().name">
        </p>
        <p>
          <label>Real Name: </label>
          <input type="text" ng-model="testCtrl.selectedAvenger().real_name">
        </p>
      </div>
    </div>

    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
