<!doctype html>
<html ng-app="prueba">
  <head>
    <meta charset="utf-8">
    <title>Empezando con AngularJS</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <h1>Directivas</h1>
    <p></p>

    <div ng-controller="TestCtrl as testCtrl">
      <avenger-report
        avengers="testCtrl.avengers">
      </avenger-report>

      <h3>My Avengers:</h3>

      <div class="island">
        <label>Filter: </label>
        <input type="text" ng-model="filtro">
      </div>
      <avenger-display
        ng-repeat="avenger in testCtrl.avengers | filter:filtro"
        avenger="avenger">
      </avenger-display>
    </div>

    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
