html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  line-height: 1.5;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  background-color: #222;
  color: #FAFAFA;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #66D9EF;
}

strong {
  font-weight: 400;
  color: #FFF;
}

label {
  font-weight: 400;
  color: #FFF;
  margin-right: 0.5em;
}

input, button, select {
  font-size: inherit;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid #666;
  background-color: #000;
  color: #FFF;
  padding: 0.3em 0.4em;
  margin-right: 0.5em;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 200px;
  position: relative;
}

select:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.green{
  color: #A6E22E;
}

input[type="text"] {
  min-width: 200px;
  outline: none;
}

input[type="text"]:focus{
  border-color: #F92672;
}

button {
  cursor: pointer;
  border-color: #F92672;
  background-color: #F92672;
  padding: 0.3em 2em;
  outline: none;
}

button:hover{
  background-color: #FF508F;
}

button:active{
  background-color: #D50E56;
}

a{
  color: #FD971F;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.hero-info{
  background-color: #333;
  border: 1px solid #444;
  padding: 1em;
  margin: 1em 1em 0 0;
  display: inline-block;
  width: 280px;
}

.new-hero{
  background-color: #494949;
  border-color: #626262;
}

.hero-info input[type="text"]{
  width: 100%;
}

.hero-info label{
  font-size: 90%;
  display: block;
  margin-bottom: 0.5em;
}

.hero-info img {
  max-width: 100%;
}

table {
  width: 50%;
  margin-bottom: 3em;
}

th, td {
  padding: 4px 0;
}

th {
  border-bottom: 1px solid #EEE;
  text-align: left;
}

td {
  border-bottom: 1px solid #444;
}




